.point {
  cursor: pointer;
}

.transition {
  transition: all .5s ease-in;
}

a:active,
a:hover {
  outline: 0;
}

.strikethrough:checked + label {
  text-decoration:line-through;
}

#popOut {
  margin-left: 10%;
  margin-top: 0;
}
